#top {
    display: flex;
}


img {

    max-width: 300px;
    /* Set the maximum width you want the image to be */

    height: auto;
    /* Maintain aspect ratio by automatically adjusting height */
    margin-top: 200px;

    border-color: #F6F1F1;
    border-width: 10px;
    border-style: solid;
}


.Honey {
    color: #333;
    background-color: green;

}

.Babe {
    color: darkmagenta;
    background-color: purple;
}


/* General Reset */
body {
    font-family: 'Sour Gummy';
    background-color: #19A7CE;
}

/* Center Content */
body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


/* Styling the Dice Roller Section */
section {
    background: #AFD3E2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

h2 {
    color: #19A7CE;
}




button {
    font-family: 'Sour Gummy';
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #19A7CE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Dice Roll Result Styling */
#result {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}




























li {
    list-style-type: none;
}